/build/src-build
/src/.project
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build/project_xcode
build/project_make
build/project_*
build/qrcreator
build/ws/
build/ws_eclipse/
UnittestResults.xml

tools/downloads
tools/env
CMakeLists.txt.user
*.user
